{% extends "_layouts/default.njk" %} {% block body %}
<div class="content">
  <strong>Olá, {{ user.name }}</strong>
  <p>Inicie um agendamento escolhendo um profissional abaixo:</p>

  <ul class="providers">
    {# Este FOR é responsável por apresentar todos os usuários e imagens #}
    {% for provider in providers %}
      <li class="provider">
        <div>
          {# Tag IMG chama automaticamente o que é passado em src #}
          <img src="/files/{{ provider.avatar }}" />
          <strong>{{ provider.name }}</strong>
        </div>
        <a href="">+</a>
      </li>
    {% endfor %}
  </ul>

  <a href="/app/logout" class="logout">Sair</a>
</div>
{% endblock %}
